.greenBG{
    background-color: #34a853;
}
.blueBG{
    background-color: #4285f4;

}
.yellowBG{
    background-color: #fddf84;

}
.redBG{
    background-color: #db4437;
}
.greenBrdr{
    border-color: #34a853;
}
.blueBrdr{
    border-color: #4285f4;

}
.yellowBrdr{
    border-color: #fbbc04;

}
.redBrdr{
    border-color: #db4437;
}

.parallelogram{
    clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
}
.rubik{
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    /* font-weight: <weight>; */
    font-style: normal;
  }
